## Feature Engineering On Text Data

##### Reading and Summarizing Data

In [9]:
import pandas as pd

# using library textblob to check the sentiment of the review
from textblob import TextBlob

In [3]:
data = pd.read_csv('amazon_alexa.tsv', delimiter= '\t')

data.shape

(3150, 5)

In [4]:
data.head()

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1

In [5]:
data.isnull().sum()

rating              0
date                0
variation           0
verified_reviews    0
feedback            0
dtype: int64

In [6]:
data.describe()

            rating     feedback
count  3150.000000  3150.000000
mean      4.463175     0.918413
std       1.068506     0.273778
min       1.000000     0.000000
25%       4.000000     1.000000
50%       5.000000     1.000000
75%       5.000000     1.000000
max       5.000000     1.000000

In [7]:
data.describe(include = 'object')

             date   variation verified_reviews
count        3150        3150             3150
unique         77          16             2301
top     30-Jul-18  Black  Dot
freq         1603         516               79

In [8]:
data['variation'].value_counts()

Black  Dot                      516
Charcoal Fabric                 430
Configuration: Fire TV Stick    350
Black  Plus                     270
Black  Show                     265
Black                           261
Black  Spot                     241
White  Dot                      184
Heather Gray Fabric             157
White  Spot                     109
White                            91
Sandstone Fabric                 90
White  Show                      85
White  Plus                      78
Oak Finish                       14
Walnut Finish                     9
Name: variation, dtype: int64

**Process of determining the attitude or emotion of the writer is called "Sentiment Analysis"**

## Finding the Length, Polarity, Subjectivity

In [10]:
data['length'] = data['verified_reviews'].apply(len)

In [11]:
data.head()

,rating,date,variation,verified_reviews,feedback,length
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1,13
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1,9
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1,195
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1,172
4,5,31-Jul-18,Charcoal Fabric,Music,1,5

### Finding a sentiment of the review:
- **Textblob** has a function called **sentiment** which returns two properties **"polarity" and "subjectivity"**.

## Text Polarity

- It is the expression that determines the sentimental aspect of an opinion.
- In textual data, the result of sentiment analysis can be determined for each entity in the sentence, document or sentence.
- The sentiment polarity can be determined as positive, negative and neutral.

- Polarity lie between -1 to +1, where +1 means positive sentiment and vice cerca.

In [14]:
def get_polarity(text):
    textblob = TextBlob(str(text.encode('utf-8')))
    pol = textblob.sentiment.polarity
    return pol
    
data['Polarity'] = data['verified_reviews'].apply(get_polarity)

In [15]:
data.head()

,rating,date,variation,verified_reviews,feedback,length,Polarity
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1,13,0.625
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1,9,0.875
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1,195,-0.100
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1,172,0.350
4,5,31-Jul-18,Charcoal Fabric,Music,1,5,0.000

## Text Subjectivity
- In natural language, subjectivity refers to expression of opinions, evaluations , feelings, and speculations and thus incorporates sentiment. 
- Subjective text is further classified with sentiment or polarity.

- Subjectivity lies between **0(a very objective statement) to 1(a very subjective statement)**.

In [16]:
def get_subjectivity(text):
    textblob = TextBlob(str(text.encode('utf-8')))
    subj = textblob.sentiment.subjectivity
    return subj
    
data['Subjectivity'] = data['verified_reviews'].apply(get_subjectivity)

data.head()

,rating,date,variation,verified_reviews,feedback,length,Polarity,Subjectivity
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1,13,0.625,0.6000
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1,9,0.875,0.8000
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1,195,-0.100,0.5125
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1,172,0.350,0.4500
4,5,31-Jul-18,Charcoal Fabric,Music,1,5,0.000,0.0000

In [17]:
# Lets summarize the newly created features

data[['length','Polarity','Subjectivity']].describe()

            length     Polarity  Subjectivity
count  3150.000000  3150.000000   3150.000000
mean    132.049524     0.349792      0.528922
std     182.099952     0.303362      0.256324
min       1.000000    -1.000000      0.000000
25%      30.000000     0.123852      0.419196
50%      74.000000     0.350000      0.585000
75%     165.000000     0.533333      0.695486
max    2851.000000     1.000000      1.000000